@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

body {
  background: linear-gradient(to bottom, rgb(121, 190, 223), #fff);
  min-height: 100vh;
  overflow-x: hidden;
  
}

main {
  display: inline-block;
  margin-top: 8%;
  padding: 15px;
  position: relative;
}

.pokedex {
  width: 100%;
  max-width: 100%;
}

.pokemon_image {
  position: absolute;
  bottom: 56%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 16%;
  width: 25%;
}

.tampa_section {
  position: relative;
}

.pokemon_info {
  position: absolute;
  bottom: 49%;
  left: 20%;
}

.type {
  font-family: monospace;
  font-weight: 600;
}

.element_type {
  text-transform: capitalize;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 1px;
}

.ability {
  font-family: monospace;
  font-weight: 600;
}

.element_ability {
  text-transform: capitalize;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 1px;
}

.section-btn-shiny {
  position: absolute;
  bottom: 18.5%;
  left: 36.5%;
}

/* .section-on-off {
  top: 3%;
  left: 9.5%;
  z-index: 300;
  border: 3px solid black;
  border-radius: 50%;
} */


.circle-on-off {
  position: absolute;
  top: 5%;
  left: 8%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #33449C;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: clamp(8px, 5vw, 0.90rem);
}

.on-off {
  position: absolute;
  top: 3%;
  left: 9.5%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* color: white; */
  background-color: #E3E3E3;
  font-size: clamp(8px, 5vw, 1rem);
  border: 2px solid black;
  cursor: pointer;
  z-index: 301;
}

.iluminate-botton {
  box-shadow: inset 0 0 9px #0EBDD2, 0 0 9px #0EBDD2;
  background-color: #0EBDD2;
  border: none;
  transition: 0.7s;
  color: #33449C;
}

.turn-off-light {
  background-color: #33449C;
  transition: 0.7s;
  color: #0EBDD2;
}

.frame-off {
  display: none;
}

.turn-off-frame {
  position: absolute;
  width: 270px;
  height: 172px;
  top: 27.5%;
  left: 17%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #0EBDD2;
  font-family: monospace;
  font-size: 16px;
}


.pokemon_data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

/*teste para aumentar tamanho de pokemon especifico*/
.pokemon-teste {
  height: 25%;
}

.pokemon_name {
  color: rgb(61, 61, 61);
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 13.5%;
}

.tampa_pokedex {
  display: inline-block;
  position: absolute;
  width: 92.8%;
  left: 3.5%;
  bottom: 2.9%;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  /* border-right: 2px  solid #000; */
}

.init {
  animation-name: slideOpen;
  border-radius: 10px;
}

.efeito_pokedex_open {
  animation-name: slideOpen;
  border-radius: 10px;
}

.efeito_pokedex_close {
  animation-name: slideClose;
  border-radius: 10px;
}
/*escorrega a tampa da pokedex para o lado direito da tela*/
@keyframes slideOpen {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100%, 0);
  }
}

@keyframes slideClose {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.input_search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2.5px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  cursor: pointer;
}

.btn-shiny {
  width: 85px;
  height: 45px;
  border: 2.5px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  background-color: rgb(96, 55, 160);
  cursor: pointer;
}

/* Simular que o botão entrou quando pressionado*/
.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

.mute-button:active {
  box-shadow: inset -4px 4px 0 #3738a8;
  font-size: 0.9rem;
}

.section-button-mute {
  position: absolute;
  top: 11%;
  left: 62%;
}

.mute-button {
  width: 80px;
  background-color: #F6CA00;
  padding: 10px 5px;
  border: 4px solid #29569D;
  border-radius: 10px;
  font-size: clamp(8px, 5vw, 0.85rem);
  letter-spacing: 2px;
  cursor: pointer;
  color: #29569D;
  box-shadow: -2px 3px 0 #093c8f, -4px 6px 0 #29569D;
}

@media (max-width: 455px) {
  main {
    display: inline-block;
    margin-top: 8%;
    padding: 15px;
    position: relative;
    overflow-x: hidden;
  }
  .buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-55.5%, 0);
    display: flex;
    gap: 20px;
  }
  .button {
    width: 30%;
    padding: 3%;
    border: 2.5px solid #000;
    border-radius: 5px;
    font-size: clamp(6px, 5vw, 0.82rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    cursor: pointer;
  }
  .btn-shiny {
    width: 64px;
    height: 33px;
    border: 2.5px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 0.82rem);
    font-weight: 600;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    background-color: rgb(96, 55, 160);
    cursor: pointer;
  }
  .section-btn-shiny {
    position: absolute;
    bottom: 18.2%;
    left: 37.8%;
  }

  .circle-on-off {
    position: absolute;
    top: 8%;
    left: 9%;
    width: 60px;
    height: 63px;
    border-radius: 50%;
    background-color: #33449C;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: clamp(8px, 5vw, 0.90rem);
  }
  
  .on-off {
    position: absolute;
    top: 3%;
    left: 9.5%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    /* color: white; */
    background-color: #E3E3E3;
    font-size: clamp(8px, 5vw, 1rem);
    border: 2px solid black;
    cursor: pointer;
    z-index: 301;
  }

  .iluminate-botton {
    box-shadow: inset 0 0 9px #0EBDD2, 0 0 9px #0EBDD2;
    background-color: #0EBDD2;
    border: none;
    transition: 0.7s;
    color: #33449C;
  }
  
  .turn-off-light {
    background-color: #33449C;
    transition: 0.7s;
    color: #0EBDD2;
  }

  .turn-off-frame {
    position: absolute;
    width: 204px;
    height: 135px;
    top: 27.5%;
    left: 17%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #0EBDD2;
    font-family: monospace;
    font-size: clamp(8px, 5vw, 0.81rem);
  }

  .section-button-mute {
    position: absolute;
    top: 12%;
    left: 57%;
  }
  
  .mute-button {
    background-color: #F6CA00;
    padding: 10px 5px;
    border: 4px solid #29569D;
    border-radius: 10px;
    font-size: clamp(8px, 5vw, 0.85rem);
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #29569D;
    width: 80px;
    height: 40px;
  }

  @keyframes slideOpen {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(99%, 0);
    }
  }

}

@media (max-width: 1135px) {
  body {
    display: inline-block;
    margin-top: 8%;
    padding: 15px;
    position: relative;
    overflow-x: hidden;
  }
  
}
